// Variables
//      Colors
//          Primary
$dark-blue-intro-and-email-signup: hsl(217, 28%, 15%);
$dark-blue-main-background:hsl(218, 28%, 13%);
$dark-blue-footer-background: hsl(216, 53%, 9%);
$dark-blue-testimonials-background: hsl(219, 30%, 18%);
//          Accent
$cyan: hsl(176, 68%, 64%);
$cyan-hover:hsl(176, 84%, 71%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);
//          Neutral
$white: hsl(0, 0%, 100%);
// Importing Fonts
//      Headings, Call-to-actions, Header Navigation
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
// font-family: 'Open Sans', sans-serif;