@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-color: #1c2431;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 100%;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

header .header-top-bar {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 2rem 3rem 6rem 3rem;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

header .header-top-bar .header-btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-weight: inherit;
  font-size: clamp(0.6em, 1.1rem, 1.5em);
}

header .header-top-bar .header-btn-holder .header-top-bar-btn {
  padding-inline: 1rem;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

header .header-top-bar .header-btn-holder .header-top-bar-btn a {
  text-decoration: unset;
  color: white;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  -webkit-transition: -webkit-text-decoration ease-in-out 300ms;
  transition: -webkit-text-decoration ease-in-out 300ms;
  transition: text-decoration ease-in-out 300ms;
  transition: text-decoration ease-in-out 300ms, -webkit-text-decoration ease-in-out 300ms;
}

header .header-top-bar .header-btn-holder .header-top-bar-btn a:hover {
  text-decoration: underline;
  cursor: pointer;
}

header .illustration-1 {
  width: 50%;
  height: auto;
}

header .header-title {
  width: 60%;
  padding: 3rem 0rem 0rem 0rem;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

header .header-description {
  width: 50%;
  padding: 2rem 0rem 1.5rem 0rem;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

header .header-btn-link {
  border-radius: 50px;
  margin-bottom: 6rem;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

header .header-btn-link .header-btn {
  background-color: #65e2d9;
  border-radius: 50px;
  padding: 1rem 6rem 1rem 6rem;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  -webkit-transition: background-color ease-in-out 300ms;
  transition: background-color ease-in-out 300ms;
}

header .header-btn-link:hover {
  cursor: pointer;
}

header .header-btn-link:hover .header-btn {
  background-color: #77f3eb;
}

main {
  background-color: #181f2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  position: relative;
}

main .services {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "1 2" "3 4";
  grid-gap: 1rem;
  padding: 0rem 4rem 5rem 4rem;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  font-weight: inherit;
}

main .services .s1 {
  grid-area: "1";
}

main .services .s2 {
  grid-area: "2";
}

main .services .s3 {
  grid-area: "3";
}

main .services .s4 {
  grid-area: "4";
}

main .services .desc-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  font-weight: inherit;
}

main .services .desc-box .service-title-bold {
  width: 90%;
  padding: 2.5rem 1rem 0.5rem 1rem;
  font-family: inherit;
  color: inherit;
  font-size: 1.2rem;
  text-align: inherit;
  font-weight: 600;
}

main .services .desc-box .service-desc-para {
  width: 80%;
  font-family: inherit;
  color: inherit;
  font-size: 0.8rem;
  text-align: inherit;
  font-weight: inherit;
}

main .self-advertisement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 3rem 6rem 3rem;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-align: left;
  font-weight: inherit;
}

main .self-advertisement .self-advertisement-img {
  width: 50%;
  height: 100%;
}

main .self-advertisement .self-advertisement-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 6rem;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-align: left;
  font-weight: inherit;
}

main .self-advertisement .self-advertisement-text .self-advertisement-text-heading {
  font-family: inherit;
  color: inherit;
  font-size: 2.5rem;
  text-align: left;
  font-weight: 600;
}

main .self-advertisement .self-advertisement-text .self-advertisement-text-content {
  padding-top: 1rem;
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  text-align: left;
  font-weight: inherit;
}

main .self-advertisement .self-advertisement-text .p-3 a {
  color: #65e2d9;
}

main .self-advertisement .self-advertisement-text .p-3 a:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

main .self-advertisement .self-advertisement-text .p-3 a:hover img g g use,
main .self-advertisement .self-advertisement-text .p-3 a:hover svg g g use {
  fill: white;
}

main .self-advertisement .self-advertisement-text .p-3 a img,
main .self-advertisement .self-advertisement-text .p-3 a svg {
  padding: unset;
  bottom: 0;
}

main .testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 4rem 5rem 15rem 5rem;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  text-align: left;
  font-weight: inherit;
  z-index: 9;
  position: relative;
}

main .testimonials .t-1 .quotes {
  position: absolute;
  top: 13%;
  left: 7%;
  z-index: -2;
}

main .testimonials .testimonials-grid {
  background-color: #202a3c;
  border-radius: 5px;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  padding: 3rem 1.5rem 2rem 1.5rem;
  margin: 2rem;
  font-family: inherit;
  color: inherit;
  font-size: 0.9rem;
  text-align: inherit;
  font-weight: inherit;
}

main .testimonials .testimonials-grid .text {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

main .testimonials .testimonials-grid .profile-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 2rem;
}

main .testimonials .testimonials-grid .profile-display img {
  position: unset;
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

main .testimonials .testimonials-grid .profile-display .name-and-designation {
  padding-left: 1rem;
}

main .testimonials .testimonials-grid .profile-display .name-and-designation .name {
  font-size: 0.8rem;
  font-weight: 600;
}

main .testimonials .testimonials-grid .profile-display .name-and-designation .designaion {
  font-size: 0.6rem;
}

main .connect-with-us {
  position: absolute;
  top: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c2431;
  -webkit-box-shadow: 2px 2px 4px 0px black;
          box-shadow: 2px 2px 4px 0px black;
  border-radius: 10px;
  width: 50%;
}

main .connect-with-us .heading {
  background-color: #1c2431;
  border-radius: 10px;
  width: 60%;
  padding: 1.5rem 0rem 1rem 0rem;
  font-size: 1.8rem;
  font-weight: 600;
}

main .connect-with-us .text {
  background-color: #1c2431;
  border-radius: 10px;
  width: 60%;
  font-size: 0.8rem;
}

main .connect-with-us .mail-and-btn {
  padding: 2rem 2.5rem 2rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

main .connect-with-us .mail-and-btn .email {
  all: unset;
  width: 50%;
  border-radius: 50px;
  background-color: white;
  color: black;
  padding: 1rem 2rem 1rem 2rem;
}

main .connect-with-us .mail-and-btn .email-btn {
  width: 40%;
  all: unset;
  border-radius: 50px;
  padding: 1rem 2rem 1rem 2rem;
  margin-left: 1rem;
  background-color: #65e2d9;
  -webkit-transition: background-color ease-in-out 300ms;
  transition: background-color ease-in-out 300ms;
}

main .connect-with-us .mail-and-btn .email-btn:hover {
  cursor: pointer;
  background-color: #77f3eb;
}

footer {
  background-color: #0b1523;
  padding: 15rem 3rem 4rem 3rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

footer .section-2 {
  width: 100%;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .section-2 .contact-us {
  height: 100px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

footer .section-2 .contact-us span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .section-2 .contact-us span:not(:first-child) {
  margin-top: 0.5rem;
  margin-left: 4rem;
}

footer .section-2 .contact-us span p {
  width: 200px;
  padding-left: 1rem;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: left;
}

footer .section-2 .navbar {
  padding-top: 0rem;
  padding-left: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30%;
  width: 60%;
}

footer .section-2 .navbar .nav-list-1 {
  width: 30%;
}

footer .section-2 .navbar .nav-list-2 {
  padding-left: 2rem;
  width: 30%;
}

footer .section-2 .navbar .nav-list-1 .nav-item,
footer .section-2 .navbar .nav-list-2 .nav-item {
  line-height: 2rem;
}

footer .section-2 .navbar .nav-list-1 .nav-item::marker,
footer .section-2 .navbar .nav-list-2 .nav-item::marker {
  content: "";
}

footer .section-2 .navbar .nav-list-1 .nav-item .nav-link,
footer .section-2 .navbar .nav-list-2 .nav-item .nav-link {
  text-decoration: unset;
  color: white;
}

footer .section-2 .navbar .nav-list-1 .nav-item .nav-link:hover,
footer .section-2 .navbar .nav-list-2 .nav-item .nav-link:hover {
  font-weight: 600;
  cursor: pointer;
}

footer .section-2 .navbar .nav-list-2 {
  padding-top: 0rem;
}

footer .section-2 .social-link-holder {
  margin-top: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .section-2 .social-link-holder:not(:last-child) {
  margin-right: 2rem;
}

footer .section-2 .social-link-holder .social-btn:not(:last-of-type) {
  margin-right: 1rem;
}

footer .section-2 .social-link-holder .social-btn svg,
footer .section-2 .social-link-holder .social-btn i {
  border-radius: 50%;
  border: 1px solid white;
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  text-decoration: unset;
  color: white;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.5rem;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

footer .section-2 .social-link-holder .social-btn:hover {
  cursor: pointer;
}

footer .section-2 .social-link-holder .social-btn:hover svg,
footer .section-2 .social-link-holder .social-btn:hover i {
  border: 1px solid #65e2d9;
  color: #65e2d9;
}

@media (max-width: 860px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../images/bg-curvy-mobile.svg");
    background-color: #1c2431;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
  }
  header .header-top-bar {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 3rem 6rem 3rem;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
  header .header-top-bar .header-btn-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
  header .header-top-bar .header-btn-holder .header-top-bar-btn {
    padding-inline: 1rem;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
  header .header-top-bar .header-btn-holder .header-top-bar-btn a {
    text-decoration: unset;
    color: white;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    -webkit-transition: -webkit-text-decoration ease-in-out 300ms;
    transition: -webkit-text-decoration ease-in-out 300ms;
    transition: text-decoration ease-in-out 300ms;
    transition: text-decoration ease-in-out 300ms, -webkit-text-decoration ease-in-out 300ms;
  }
  header .header-top-bar .header-btn-holder .header-top-bar-btn a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  header .illustration-1 {
    width: 90%;
    height: 50%;
  }
  header .header-title {
    width: 90%;
    padding: 3rem 0rem 0rem 0rem;
    color: inherit;
    font-family: inherit;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
  }
  header .header-description {
    width: 80%;
    padding: 2rem 0rem 1.5rem 0rem;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  header .header-btn-link {
    border-radius: 50px;
    margin-bottom: 6rem;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
  header .header-btn-link .header-btn {
    background-color: #65e2d9;
    border-radius: 50px;
    padding: 1rem 6rem 1rem 6rem;
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
    -webkit-transition: background-color ease-in-out 300ms;
    transition: background-color ease-in-out 300ms;
  }
  header .header-btn-link:hover {
    cursor: pointer;
  }
  header .header-btn-link:hover .header-btn {
    background-color: #77f3eb;
  }
  main {
    background-color: #181f2a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    position: relative;
  }
  main .services {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -ms-grid-columns: unset;
        grid-template-columns: unset;
        grid-template-areas: "1" "2" "3" "4";
    grid-gap: 8rem;
    padding: 10rem 4rem 5rem 4rem;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    font-weight: inherit;
  }
  main .services .s1 {
    grid-area: "1";
  }
  main .services .s2 {
    grid-area: "2";
  }
  main .services .s3 {
    grid-area: "3";
  }
  main .services .s4 {
    grid-area: "4";
  }
  main .services .desc-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    font-weight: inherit;
  }
  main .services .desc-box .service-title-bold {
    width: 90%;
    padding: 2.5rem 1rem 0.5rem 1rem;
    font-family: inherit;
    color: inherit;
    font-size: 1.2rem;
    text-align: inherit;
    font-weight: 600;
  }
  main .services .desc-box .service-desc-para {
    width: 80%;
    font-family: inherit;
    color: inherit;
    font-size: 0.8rem;
    text-align: inherit;
    font-weight: inherit;
  }
  main .self-advertisement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem 3rem 6rem 3rem;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-align: left;
    font-weight: inherit;
  }
  main .self-advertisement .self-advertisement-img {
    width: 100%;
    height: 100%;
  }
  main .self-advertisement .self-advertisement-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 2rem;
    padding-top: 5rem;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-align: left;
    font-weight: inherit;
  }
  main .self-advertisement .self-advertisement-text .self-advertisement-text-heading {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    text-align: left;
    font-weight: 600;
  }
  main .self-advertisement .self-advertisement-text .self-advertisement-text-content {
    padding-top: 1rem;
    font-family: inherit;
    color: inherit;
    font-size: 1.1rem;
    text-align: left;
    font-weight: inherit;
  }
  main .self-advertisement .self-advertisement-text .p-3 a {
    color: #65e2d9;
  }
  main .self-advertisement .self-advertisement-text .p-3 a:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
  }
  main .self-advertisement .self-advertisement-text .p-3 a:hover img,
  main .self-advertisement .self-advertisement-text .p-3 a:hover svg {
    fill: white;
  }
  main .self-advertisement .self-advertisement-text .p-3 a img,
  main .self-advertisement .self-advertisement-text .p-3 a svg {
    padding: unset;
    bottom: 0;
  }
  main .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem 2rem 15rem 2rem;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    text-align: left;
    font-weight: inherit;
    z-index: 9;
    position: relative;
  }
  main .testimonials .t-1 .quotes {
    position: absolute;
    top: 6%;
    left: 17%;
    z-index: -2;
  }
  main .testimonials .testimonials-grid {
    background-color: #202a3c;
    border-radius: 5px;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    padding: 3rem 1.5rem 2rem 1.5rem;
    margin: 2rem;
    font-family: inherit;
    color: inherit;
    font-size: 0.9rem;
    text-align: inherit;
    font-weight: inherit;
  }
  main .testimonials .testimonials-grid .text {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  main .testimonials .testimonials-grid .profile-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-top: 2rem;
  }
  main .testimonials .testimonials-grid .profile-display img {
    position: unset;
    border-radius: 50%;
    width: 10%;
    height: 10%;
  }
  main .testimonials .testimonials-grid .profile-display .name-and-designation {
    padding-left: 1rem;
  }
  main .testimonials .testimonials-grid .profile-display .name-and-designation .name {
    font-size: 0.8rem;
    font-weight: 600;
  }
  main .testimonials .testimonials-grid .profile-display .name-and-designation .designaion {
    font-size: 0.6rem;
  }
  main .connect-with-us {
    position: absolute;
    top: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #1c2431;
    -webkit-box-shadow: 2px 2px 4px 0px black;
            box-shadow: 2px 2px 4px 0px black;
    border-radius: 10px;
    width: 90%;
  }
  main .connect-with-us .heading {
    background-color: #1c2431;
    border-radius: 10px;
    width: 90%;
    padding: 1.5rem 0rem 1rem 0rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
  main .connect-with-us .text {
    background-color: #1c2431;
    border-radius: 10px;
    width: 90%;
    font-size: 1rem;
  }
  main .connect-with-us .mail-and-btn {
    padding: 2rem 1rem 2rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  main .connect-with-us .mail-and-btn .email {
    all: unset;
    width: 70%;
    border-radius: 50px;
    background-color: white;
    color: black;
    padding: 1rem 2rem 1rem 2rem;
  }
  main .connect-with-us .mail-and-btn .email-btn {
    all: unset;
    width: 70%;
    border-radius: 50px;
    padding: 1rem 2rem 1rem 2rem;
    margin-left: unset;
    margin-top: 1rem;
    background-color: #65e2d9;
    -webkit-transition: background-color ease-in-out 300ms;
    transition: background-color ease-in-out 300ms;
  }
  main .connect-with-us .mail-and-btn .email-btn:hover {
    cursor: pointer;
    background-color: #77f3eb;
  }
  footer {
    background-color: #0b1523;
    padding: 15rem 3rem 4rem 3rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
  footer .section-2 {
    padding-top: 2rem;
  }
  footer .section-2 .contact-us span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .section-2 .contact-us span:not(:first-child) {
    margin-top: 1.5rem;
  }
  footer .section-2 .contact-us span p {
    padding-left: 1rem;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: left;
  }
  footer .section-2 .navbar {
    padding-top: 6rem;
  }
  footer .section-2 .navbar .nav-list-1 .nav-item,
  footer .section-2 .navbar .nav-list-2 .nav-item {
    line-height: 2rem;
  }
  footer .section-2 .navbar .nav-list-1 .nav-item::marker,
  footer .section-2 .navbar .nav-list-2 .nav-item::marker {
    content: "";
  }
  footer .section-2 .navbar .nav-list-1 .nav-item .nav-link,
  footer .section-2 .navbar .nav-list-2 .nav-item .nav-link {
    text-decoration: unset;
    color: white;
  }
  footer .section-2 .navbar .nav-list-1 .nav-item .nav-link:hover,
  footer .section-2 .navbar .nav-list-2 .nav-item .nav-link:hover {
    font-weight: 600;
    cursor: pointer;
  }
  footer .section-2 .navbar .nav-list-2 {
    padding-top: 3rem;
  }
  footer .section-2 .social-link-holder {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .section-2 .social-link-holder:not(:last-child) {
    margin-right: 2rem;
  }
  footer .section-2 .social-link-holder .social-btn:not(:last-of-type) {
    margin-right: 1rem;
  }
  footer .section-2 .social-link-holder .social-btn svg,
  footer .section-2 .social-link-holder .social-btn i {
    border-radius: 50%;
    border: 1px solid white;
    width: 2rem;
    height: 2rem;
    padding: 0.4rem;
    text-decoration: unset;
    color: white;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.5rem;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }
  footer .section-2 .social-link-holder .social-btn:hover {
    cursor: pointer;
  }
  footer .section-2 .social-link-holder .social-btn:hover svg,
  footer .section-2 .social-link-holder .social-btn:hover i {
    border: 1px solid #65e2d9;
    color: #65e2d9;
  }
}
